/* CSS 변수 : 색이나 폰트 등 한 번만 등록,
              사용하는 곳에서는 var() */

:root {
  --font: "Bagel Fat One", system-ui;
  --text-gray: #4d3ed8;
}
h2 {
  text-align: center;
  font-family: var(--font);
}

.date {
  text-align: center;
  color: var(--text-gray);
  font-size: 14px;
}
.mon {
  color: green;
  font-weight: 700;
}
.today {
  font-weight: 700;
}

.morning {
  font-weight: 700;
}
.lunch {
  font-weight: 700;
}
.dinner {
  font-weight: 700;
}

.q {
  text-align: center;
}
.sik {
  color: var(--text-gray);
  font-size: 13px;
}

.sa {
  color: green;
}
